.vscode/*
build/*
devel/*
yolov8_ros/setup.cfg
yolov8_ros/yolo11n.pt
yolov8_ros/training_dir
yolov8_ros/virtualenv
yolo11n.pt

yolov8_ros/setup.cfg
utbots_face_recognition/setup.cfg

mediapipe_track/mediapipe_track/__pycache__
mediapipe_track/mediapipe_track/.vscode
mediapipe_track/mediapipe_track/log