<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Kinect v1 camera -->
  <include file="$(find freenect_launch)/launch/freenect.launch">
          <arg name="depth_registration" value="true" />
  </include>
  
  <!-- Darknet inference -->
  <include file="$(find darknet_ros)/launch/kinect.launch"/>

  <node name="detected_obj_manager" pkg="vision_tools" type="detected_obj_manager.py"/>

   <node 
        type="rviz"
        name="rviz" 
        pkg="rviz" 
        args="-d $(find vision_tools)/object3dpoint.rviz" 
    />
  
</launch>
