<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Kinect v1 camera -->
  <include file="$(find freenect_launch)/launch/freenect.launch"/>
  <!-- Image encoding conversion -->
  <node name="img_convert" pkg="vision_tools" type="img_converter"/>
  <!-- Darknet inference -->
  <include file="$(find darknet_ros)/launch/kinect.launch"/>
  
</launch>
